# Compiled output
/dist
/build
/node_modules
package-lock.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output
/tests

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temporary directories
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Prisma
/generated
/prisma/generated
/prisma/migrations
prisma.config.js
prisma.config.js.map
prisma.config.d.ts

# TypeScript
tsconfig.build.tsbuildinfo
